@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 40px;
  line-height: 26px;
  color: #2B2D42;
  font-weight: 500;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;  
  border-bottom: 4px solid #F8F32B;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

h1{
  color: #F8F32B;
  font-size: 45px;
  position: relative;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5%;
  text-shadow: 0 3px #8D99AE;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;  
}

ion-content{
  --background:#2B2D42;
}

ion-card{
   border-radius: 20px;
   position: relative;
   margin-left: 15%;
   margin-right: 15%;
   margin-top: 5%;
   padding: 30px;
   --background: #8D99AE;
   box-shadow: 0 8px #F8F32B;
}

ion-card-header{
margin-bottom: 40px;
}

ion-toolbar{
  color: #2B2D42;
  --background:#F8F32B;
  border-radius: 1px 1px 20px 20px; 
}


ion-button{
   color: black;
   padding: 0px;
   margin: 10px;
   font-size: 15px;
   --background: #F8F32B;
}

div .Cliente, .Produto{
    display: inline-block;
}

img{
    width: 350px;
    height: 250px; 
    border-radius: 20px;
    box-shadow: 0 10px #F8F32B;
}

div .Cliente{
    margin-right: 100px;
}

