<ion-header>
  <ion-toolbar>
    <ion-title>Voltar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div id="container">
    <ion-card>

      <ion-card-header>
        <ion-card-title><strong>Ferramentas utilizadas</strong></ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
       Neste projeto, foi feito o uso do CSS, HTML, Angular, PHP, SQL.
      </ion-card-content>
    </ion-card> 

  </div>

  <ion-item>
    <ion-avatar slot="end">
      <img src="https://instagram.fvcp9-1.fna.fbcdn.net/v/t51.2885-15/e35/147979781_239891557716044_4497774647061524289_n.jpg?tp=1&_nc_ht=instagram.fvcp9-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=Lmz79msLSaMAX9-31c1&tn=2dXyFZq-zAyw5gfm&edm=AP_V10EBAAAA&ccb=7-4&oh=42fa97b048141ec8c888f5b38717c79d&oe=60DD649D&_nc_sid=4f375e">
    </ion-avatar>
    <ion-label>
      <h3>Autor do Projeto</h3>
      <p>Roberto Felipe Nhani de Oliveira</p>
      <p>Atividade de Linguagem de Programação II</p>
      <p>Professor Norberto Savioli</p>
      <p>3º Info</p>
    </ion-label>
  </ion-item>

</ion-content>

